<html lang="en">
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/header') %>
    <div style="margin-top: 80px" class="container">
    <h1 class="text-center">Blog detail</h1>
      <ul>
        <li styles="margin:4px 0;"">
          <div >
            <div><span style="color:dodgerblue">Title: </span><%= blog.title %></div>
            <div><span style="color:dodgerblue">Body: </span><%= blog.body %></div>
            <div><span style="color:dodgerblue">Snippet: </span><%= blog.snippet %></div>
          </div>
        </li>
      </ul>
    </div>
  </body>
</html>
