<html lang="en">
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/header') %>
    <div style="margin-top: 80px" class="container">
    <h1 class="text-center">All blogs data</h1>
      <ul>
        <% blogs.forEach(blog=>{ %>
        <li style="padding:8px 0;border-bottom: 1px solid #ccc"">
         <div style="display:flex; justify-content: space-between" class="d-flex">
          <div >
            <div><span style="color:dodgerblue">Title: </span><%= blog.title %></div>
            <div><span style="color:dodgerblue">Body: </span><%= blog.body %></div>
            <div><span style="color:dodgerblue">Snippet: </span><%= blog.snippet %></div>
          </div>
          <div>
            <a href="/blogs/<%= blog.id %>">Detail</a>
            <a style="color:red;margin-left: 10px;text-decoration: underline;" href="/blogs/delete/<%= blog.id %>">Delete</a></div>
         </div>
        </li>
        <% }) %>
      </ul>
    </div>
  </body>
</html>
